.immigrationHistoryContainer {
  background-color: #f1efec;
  border: 1px solid black;
  padding: 5px 25px;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  min-width: 282px
  // margin: 10px 0px;
}
.summarylabelStyles {
  font-weight: 700;
  font-size: 16px;
}
.summaryCont{
  display: flex;
  align-items: flex-start;
}
